<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Roboto:400,700%7cMaterial+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <h1 class="app-title">TODO List</h1>
      <div ng-controller="TodoController as $ctrl">
        <!-- ngcontroller -->

        <p class="tag-line">A place to store the things you have to do!</p>

        <!-- ngRepeat -->
        <input type="text" placeholder="Filter your to-dos" ng-model="search" class="input-box" />
        
        <ol class="to-do-list-container">
          <li class="to-do-list-item" ng-repeat="todo in $ctrl.todoList | filter:search" ng-class="{ 'completed' : todo.completed == true }">
            <!-- orderBy can also have array: orderBy: ['age', 'name'] -->
            <!-- ng-class={ green: age > 15 }-->
            
            <div class="to-do-list-item-inner">
              <div>
                {{$index}}
                <button ng-if="todo.completed === false" id="completed" class="button-complete-task" ng-click="$ctrl.completeTask($index)">Complete</button>
              </div>
              <div class="to-do-list-item-content">{{ todo.task }}</div>
              <div>
                <i class="material-icons" id="close-button" ng-click="$ctrl.removeTask($index)">clear</i>
              </div>
            </div>
          </li>
        </ol>

        <!-- add a to-do list item -->
        <form ng-submit="$ctrl.addTask($ctrl.task)">
          <input ng-model="$ctrl.task" type="text" placeholder="Add your to do" class="input-box">
          <button type="submit" class="button-add-task">Add</button>
        </form>
      </div>
    </div>

    <script src="https://code.angularjs.org/1.7.8/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
  </body>
</html>